.main {
  background-image: url(../public/images/backg.png);
}
:root {
  scroll-behavior: smooth;
}
.container {
  margin: 0 50px;
  padding-top: 100px;
}

@media(width>=900px)
{
  .css-1u9o2lj-MuiToolbar-root {
  margin: 0 26px;
}
}
.css-1kcvi62-MuiBottomNavigationAction-label.Mui-selected {
  color: orange;
}
.css-hzcega-MuiTabs-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
.css-1usuzwp-MuiButtonBase-root-MuiTab-root {
  margin: "5px";
}
.css-1usuzwp-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: white !important;
  background-color: orange;
  border-radius: 30px;
  box-shadow: 0 5px 10px rgba(255, 166, 0, 0.4);
}
.css-1qltlow-MuiTabs-indicator {
  display: none;
}
@media (width<=899px) {
  .hello {
    min-width: 100%;
  }

  .projectImage {
    width: 100%;
  }

  .container {
    margin: 0 20px;
  }
  .css-1u9o2lj-MuiToolbar-root {
  margin: 0 4px;
}
#contactBox {
  display: block;
}
.imageDiv {
  margin: 50px auto !important;
  width: fit-content;
}
.contactImage {
  max-width: 375px !important;
}
.contact input,
.contact textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100% !important;
}
}
